.detail-card {
    margin: 0 auto;
    display: flex;
    background-color: var(--background);
    width: max-content;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.detail-card > * {
    border-left: 3px solid black;
}
.detail-card .definition_container {
    padding: 1em;
}

.detail-card .pokimon-card {
    padding: 1em 2em;
}

.detail-card .pokimon-description {
    scrollbar-width: none;
    width: 300px;
    height: 250px
    
}
.detail-card .pokimon-description p{
    overflow-y: scroll;
    height: 80%;
}
.detail-card .pokimon-description p::-webkit-scrollbar {
    display: none;
  }
.detail-card .pokimon-card img {
    width: 200px;
    height: 200px;
}
.detail-card div {
    padding: 0.2em;
}
